@model List<PostalService>;
@{
    var cssClass = (string?)ViewBag.CssClass;
    var selectListItems = new List<SelectListItem>();
    foreach (var item in Model)
    {
        selectListItems.Add(new SelectListItem() { Value = item.Id.ToString(), Text = item.City });
    }

}
<label>Selecbox for City</label>
<select class="@cssClass">
    @foreach (var item in Model)
    {
        <option>@item.City</option>
    }
</select>